:root {
  --primary-color: #0662a4;
  --primary-hover: #054e82;
  --secondary-color: white;
  --secondary-hover: #355c777b;
  --text-color: #333;
  --light-gray: #ccc;
  --background-color: #f4f6f8;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --accent-color: #ae2727;
  --accent-hover: #8f2020;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  z-index: 1000;
  transition: height 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  box-shadow: var(--shadow);
}

header.scrolled {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

header h1 {
  font-size: 1.8rem;
  margin: 0;
  transition: font-size 0.3s ease;
}

header.scrolled h1 {
  font-size: 1.4rem;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryBttn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.primaryBttn:hover {
  background-color: var(--primary-hover);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.secondaryBttn {
  border: 1px solid var(--secondary-hover);
  background-color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  transition: box-shadow 0.2s ease;
}

.secondaryBttn:hover {
  border-color: var(--secondary-hover);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.addBookForm {
  display: contents;
}

#bookForm {
  background-color: var(--secondary-color);
  margin: 3rem 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
}

#bookForm.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#bookForm #closeFormBttn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--accent-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

#bookForm #closeFormBttn:hover {
  color: var(--accent-hover);
}

#bookForm label {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 14px;
  color: #555;
}

#bookForm input {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#bookForm input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0px 0px 8px rgba(104, 171, 218, 0.3);
}

#bookForm #saveBttnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#bookList {
  list-style: none;
  padding: 0;
}

#bookList li {
  padding: 10px;
  border: 1px solid var(--light-gray);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#bookList li a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

#bookList li a:hover {
  text-decoration: underline;
}

#closeCatalogBttn {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#closeCatalogBttn:hover {
  background-color: var(--accent-hover);
  color: white;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
}

.popup.hidden {
  display: none;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--accent-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

#closePopup:hover {
  color: var(--accent-hover);
}
